:root {
    /*Color*/
    --color-primary: #4B69FD;
    --color-h2:#33B4FF;
    --color-sombra1:#00FFFFCC;
    --color-input-fondo:#4d42589c;
    --color-input-borde:#A020F0;
    --color-input-text:#00FFFF;
    --color-list-borde:#008cffde;
    --color-white: #FFFFFF;
    --color-button-1:#015958d7;
    --color-button-2:#0051ffd8;
    --color-button-3:#B044F0;
    --color-button-borde-1:#09b7b4;
    --color-button-borde-2:#538ff6;
    --color-button-hover-1:	#028373;
    --color-button-hover-2:#338CFF;
    --color-button-hover-3:#C070FF;
    --color-list-text:#AFA2FF;
    --color-list-text-2:#05df9e;
    --color-list-fondo:rgba(20, 46, 102, 0.328);
    --color-list-fondo-2:rgba(20, 46, 102, 0.717);

    /*Font Family*/
    --font-h1:"Orbitron", serif;
    --font-text:"Oxanium", sans-serif;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 1px;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(33, 15, 67, 0.7),rgba(2, 25, 55, 0.80)), 
    url('/assets/Fondo.webp');
    background-size: cover;
    background-position: center;
}

/* Banner */
.header-banner {
    flex: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 0 0;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 27px 27px 27px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 120px;
    font-family: var(--font-h1);
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
    text-shadow: 0px 0px 10px var(--color-sombra1);
}

.section-title {
    font-family: var(--font-text);
    font-size: 36px;
    font-weight: 700;
    color: var(--color-h2);
    margin: 4px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 18px;
}

.input-name {
    width: 100%;
    padding: 10px;
    color: var(--color-input-text);
    caret-color: var(--color-input-text);  /*El color del cursor*/
    background-color:var(--color-input-fondo);
    border: 1px solid var(--color-input-borde);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    outline: none;
}
.input-name::placeholder{
    font-family: var(--font-text);
    font-weight: 400;
}

.button-container {
    width: 300px;
    justify-content: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid #333;
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: var(--font-h1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: var(--font-text);
    font-size: 18px;
    border: 2px solid #000;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    font-family: var(--font-text);
    font-weight: 600;
    background-color:var(--color-button-3);
    color: var(--color-white);
    border: 1px solid var(--color-input-borde);
    border-radius: 0 25px 25px 0;
}

.button-add:hover {
    background-color: var(--color-button-hover-3);
}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-white);
    font-family: var(--font-text);
    font-size: 18px;
    margin: 20px 0;
    border: 1px solid var(--color-list-borde);
    border-radius: 20px;
    padding: 20px;
    width: 720px;
}

.name-list{
    color: var(--color-list-text);
    max-width: 720px;
    max-height: 240px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    background-color:var(--color-list-fondo);
}



ul:not(:has(li)) {
    border: none;
    background: transparent;
    padding: 0;
}



.result-list {
    margin-top: 15px;
    color: var(--color-list-text-2);
    background-color:var(--color-list-fondo-2);
    font-size: 27px;
    font-weight: 700;
    text-align: center;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color:var(--color-button-1);
    font-size: 17px;
    font-weight: 600;
    border: 1px solid var(--color-button-borde-1);
}

.button-draw-2{
    background-color:var(--color-button-2);
    margin-top: 20px;
    border: 1px solid var(--color-button-borde-2);
}

.button-draw img {
    margin-right: 40px;
}

.button-draw:hover {
    background-color: var(--color-button-hover-1);
}

.button-draw-2:hover{
    background-color: var(--color-button-hover-2);
}

